/* initialise les éléménts de la page à 0 au lieu que ça soit par défaut et tous les contenus est en arial */
* {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* position sticky permet a mon en tête  d'être placé en haut et fixe et les autres éléments de la page passe en dessout */
.header {
    background:linear-gradient(to bottom, #000, #0008), url(./img/photocouverture.jpg);
    padding-bottom: 40px;
    padding-top: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    position:sticky;
    top: 0; /*  permet d'occuper l'entierter de la page */
    left: 0;
    right: 0;
    margin-bottom: 20px; /* laisse un espace interieur en bas de l'en tête*/
}
#btn-menu {
    display: none;  /* ne s'affiche pas */  
}
#navbar-cache {
    display: none;
}
/* fais en sorte que dans la page où je me trouve que ça puisse avoir une couleur qui indique la pag active */
.header-active {
    background-color: blue;
    border-radius: 10px;
}
/* permet de gere la police et le positionnement, ainsi que la couleur de mon titre */
.header-titel {
    background-color: blue;
    color: #FFF;
    width: 260px;
    margin-left:20px;
    margin-top: 10px;
    border-radius: 10px;
}
/* permet a ce que mes liens href a puisse être placé à droite de ma page */
.header-nav {
    float: right;
    background-color: rgb(255, 255, 255, 0.2);
    margin-top: -20px;
    border-radius: 10px;
}
/* tous les a  seront esapcer de 10px de gauche et a droite*/
.header-nav a{
    padding: 0 10px;
    text-decoration: none;
    color: #FFF;
    font-style: normal;
}
/* lorsque le curseur survole les a de l'entête */
.header-nav a:hover {
    text-decoration: underline;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
}
/* permet de cacher le menu et de l'afficher lorsque je clique sur le bouton menu */
.div-menu {
    display: none;
}
/* empeche le defilement a gauche */
#body-about {
    background-color: #f0f0f0; /* ajout d'une couleur de fond spécifique pour la page à propos */
}
body {
   background-color: lightgray; /* le body aura une autre couleur de fonds */
   overflow-x: hidden;/* cacher les éléments qui dépasse en X */
}
/* le corps de mes articles */
.card {
    background-color: #ffffff94;
    margin-left: 30px;
    margin-bottom: 20px;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    margin-right: 60px;
}
.card a {
    text-decoration: none;
}
/* l'en-tête de mes articles */
.card-header {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-bottom: -10px;
}
/* le titre de mes articles */
.card-titel {
    margin-top: -50px;
    font-size: 18px;
    margin-left: 52px;
    padding-top: 5px;
}
/* la date de mes articles */
.card-date {
    font-size: 12px;
    margin-left: 52px;
    padding-top: 4px;
    color: rgba(0,0,0,0.38);
}
/* la taille de mes images */
.card-img {
    width: 100%;
    height: 700px;
}
/* le corps de ma card la ou se trouve les ecrits */
.card-body {
    margin-top: 20px;
}
/* la couleur de titre des mes articles */
.color-titel {
    color: blue;
}
.color-titel {
    color: rgb(48, 48, 70);
}
/* les ecrits dans ma card */
.card-body-contenu {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    line-height: 22px;
    color: #272424;
    text-align:justify ; /* pour que le text soit bien aligné sans espace irregulier en fin de ligne */
}
.card-body-contenu h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.hover :hover {
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.logo {
    border-radius: 50%;
}

/* à propos */

/* l'arrière plan de mon apropos */
.body{
    background: linear-gradient(to bottom, #000, #0008), url(/img/rueupc.JPG) center/cover;
    color: #FFF;
    overflow-x: hidden; /* cacher les éléments qui dépasse en X */
}
.header-main {
    display: flex;
    align-items: center;
}
.main-contenue {
    margin-left: 90px;
    margin-top: 40px;
}
.header-main-titel {
    padding-bottom: 20px;
}
.police-main {
    
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    padding-right: 20px;
    margin-top: -10px;
}
.about-titel {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.about-police-main {
    padding-top: -38px;
    font-size: 15px;
    text-align: justify;
    margin-left: 20px;
    padding-right: 100px;
    line-height: 22px;
    
}
.police-main a {
    text-decoration: none;
    color: blue;  

}
.contenu {
    display: flex; 
    align-items: center;
    padding-bottom: 40px;
}
.img-about {
    max-width: 200px;
    padding-right: 30px;
    max-height: 200px;
    border-radius: 50%;
    padding-top: 0px;
   
}

.img-main {
    border-radius: 40%;
    margin-top: 5%;
    margin-left: 15%;
}
#body-about {
    background-color: black;
}
.img-main2 {
    border-radius: 40%;
    margin-top: 5%;
    margin-right: 90%;
}
footer {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #333;
    clear: both;
}
footer a {
    text-decoration: none;
    color: #66ccff;
}
@media (max-width:800px) {
    .header {
        height: 50px;
    }
    .header-menu {
        display: flex;
        float: right;
        margin-top: -30px;
        margin-right: 20px;
    }
    .header-nav {
        display: none;
    }
    .header-titel {
        margin-left: 180px;
        font-size: 24px;
        padding-left: 20px;
        width: 200px;
    }
    .card {
        margin-left: 20px;
        margin-right: 20px;
    }
    .card-body h1 {
        line-height: 30px;  /* espace des lignes du titre */
    }
    .card-img {
        max-height: 450px;
    }

    /* à propos */
    
    .img-main {
        display: none; /* cacher l'image principale */
    }
    .img-about {
        display: none; /* cacher l'image de la page à propos */
    }
}
